@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background-main : #1e252b;
$background-lighter : #272c32;
$background-element: #404042;
$font-color-main : #adaeaf;
$font-color-highlight: #dfdfe1;
$font-color-title: #ffffff;
$button-background: #a3a5a5;
$gradient-main: linear-gradient( #1b1b1b 0%, rgba(27, 27, 27, 0) 100%);
$gradient-main: linear-gradient( #3f3d3e 0%, rgba(63, 61, 62, 0) 100%);
$font-title: 'Rye', cursive;
$font-main: 'Roboto', sans-serif;

